 <div class="card-header align-items-center">
            <h5 class="card-action-title mb-0">
              <i class="icon-base bx bx-bar-chart-alt-2 icon-lg text-body me-4"></i>النشر العلمي
            </h5>
          </div>
          <div class="card-body pt-3" >
            <ul class="timeline mb-0">
              <li class="timeline-item timeline-item-transparent" *ngFor="let Publication of Publications">
                <span class="timeline-point timeline-point-success"></span>
                <div class="timeline-event text-start">
                  <div class="timeline-header mb-3">
                    <h6 class="mb-0">{{Publication.arTitle}}</h6>
                    <small class="text-body-secondary"><a class="btn btn-primary text-white" (click)="openDetailsDialog(Publication.id)">تفاصيل</a></small>
                  </div>
                  <p class="mb-2 ">نوع النشر : {{Publication.publicationType}} </p>
                  <p class="mb-2 ">الناشر : {{Publication.publisher}}</p>
                  <p class="mb-2 ">من قام بتأليف  : {{Publication.arAuthors}}</p>

                  <div class="d-flex align-items-center mb-2">
                    <div class="badge bg-lighter rounded d-flex align-items-center">
                       <span class="h6 mb-0 text-body">{{Publication.publicationDate}}</span>
                    </div>
                  </div>
                </div>
              </li>
              
              
               
            </ul>
          </div>