 
<div class="container-xxl flex-grow-1 container-p-y justify-content-start">

    <div class="card">
      <a class="btn btn-primary m-1 text-white" routerLink="/userPage/Donate/Add" 
      style="width: 200px;" >تبرع الأن</a>
  
  
      <div class="table-responsive text-nowrap">
        <table class="table">
          <caption class="ms-6">
            التبرعات السابقة
          </caption>
          <thead>
            <tr>
              <th>#</th>
              <th>تاريخ الأضافة</th>
              <th>العضو</th>
              <th>المبلغ</th>
               <th>التفاصيل</th>
              <th>العمليات</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Donate of Donates;let i = index">
              <td>
                <i class="icon-base fab fa-angular icon-md text-danger me-4"></i> <span>{{i+1}}</span>
              </td>
              <td>{{Donate.issueDate}}</td>
              <td>{{Donate.userName}}</td>
              <td>{{Donate.amount}}</td>

              <td class="text-wrap">{{Donate.description}}</td>
           
                <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="icon-base bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/userPage/Donate/Edit',Donate.id]"
                      ><i class="icon-base bx bx-edit-alt me-1 text-warning"></i> تعديل</a
                    >
                    <a class="dropdown-item" (click)="Delete(Donate.id)"
                      ><i class="icon-base bx bx-trash me-1 text-danger"></i> حذف</a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
  
  
  <div class="content-backdrop fade"></div>
  <!-- Content wrapper -->
  
  