<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row g-6">
    <div class="col-md-12 m-auto">
      <div class=" ">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center flex-wrap mb-6 gap-2">
            <div class="me-1">
              <h5 class="mb-0 text-center">دعوة باحث للانضمام الى منصة أريد للعلماء و الباحثين</h5>
            </div>
           
          </div>
          <div class="card academy-content shadow-none border">
            <div class="card-body pt-4">
                <p class="mb-3 lh-base text-start">
                يمكن ارسال دعوة عبر نظام منصة اريد مع رابط التسجيل الخاص بكم. يمكن تجربة الارسال عبر كتابة اسمك وبريدك للاطلاع على الصيغة اولا ثم البدء بالارسال الى بقية العلماء والخبراء والباحثين الذين تعرفهم
                </p>

<p class="mb-3 lh-base text-start">
عند تسجيل عدد من الاعضاء عبر رابط الدعوة الخاصة بكم في المنصة فسيتاح الحصول على وسام ناشِط في جامعة او وسام ناشِط دوليّ

                </p>
                <p class="mb-3 lh-base text-start">الرسالة المرسلة عبر الاستمارة أدناه ستتضمن رابط الدعوة الخاص بكم وهو
                   
                    <br/><a  class="my-3" [href]="RegisterLink">{{RegisterLink}}</a>
                     </p>
             
              <hr class="my-6" />
               <form id="formAuthentication" [formGroup]="InviteFriendForm" class="mb-3"   method="POST">
                <!-- {{InviteFriendForm.value|json}} -->
              <div class="mb-3 text-start">
                <label for="email" class="form-label">أدخل البريد الإلكتروني للمدعو</label>
                <input type="email" class="form-control " formControlName="friendEmail"  id="email" name="email" placeholder=" أدخل البريد الإلكتروني للمدعو" />
                <div *ngIf="InviteFriendForm.controls['friendEmail'].invalid && InviteFriendForm.controls['friendEmail'].touched">
                  <small *ngIf="InviteFriendForm.controls['friendEmail'].errors?.['required']" class="text-danger">ادخل البريد الألكترونى</small>
                  <small *ngIf="InviteFriendForm.controls['friendEmail'].errors?.['email']" class="text-danger">البريد الألكترونى غير صحيح</small>
              </div>
              </div>
              <div class="mb-3 text-start">
                <label for="friendName" class="form-label">أدخل اسم المدعو</label>
                <input type="text" class="form-control " formControlName="friendName"  id="friendName" name="friendName" placeholder=" أدخل اسم المدعو " />
                <div *ngIf="InviteFriendForm.controls['friendName'].invalid && InviteFriendForm.controls['friendName'].touched">
                  <small *ngIf="InviteFriendForm.controls['friendName'].errors?.['required']" class="text-danger">ادخل اسم المدعو</small>
               </div>
              </div>

              <div class="mb-3">
                <button class="btn btn-primary" (click)="Submit()">ارسال الدعوة</button>
              </div>
               </form>
              
 

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-4">
        <div class="accordion stick-top accordion-custom-button" id="courseContent">
          <div class="accordion-item active mb-0">
            <div class="accordion-header" id="headingOne">
              <button
                type="button"
                class="accordion-button"
                data-bs-toggle="collapse"
                data-bs-target="#chapterOne"
                aria-expanded="true"
                aria-controls="chapterOne">
                <span class="d-flex flex-column">
                  <span class="h5 mb-0">Course Content</span>
                  <span class="text-body fw-normal">2 / 5 | 4.4 min</span>
                </span>
              </button>
            </div>
            <div id="chapterOne" class="accordion-collapse collapse show" data-bs-parent="#courseContent">
              <div class="accordion-body py-4">
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defaultCheck1" checked="" />
                  <label for="defaultCheck1" class="form-check-label ms-4">
                    <span class="mb-0 h6">1. Welcome to this course</span>
                    <small class="text-body d-block">2.4 min</small>
                  </label>
                </div>
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defaultCheck2" checked="" />
                  <label for="defaultCheck2" class="form-check-label ms-4">
                    <span class="mb-0 h6">2. Watch before you start</span>
                    <small class="text-body d-block">4.8 min</small>
                  </label>
                </div>
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defaultCheck3" />
                  <label for="defaultCheck3" class="form-check-label ms-4">
                    <span class="mb-0 h6">3. Basic design theory</span>
                    <small class="text-body d-block">5.9 min</small>
                  </label>
                </div>
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defaultCheck4" />
                  <label for="defaultCheck4" class="form-check-label ms-4">
                    <span class="mb-0 h6">4. Basic fundamentals</span>
                    <small class="text-body d-block">3.6 min</small>
                  </label>
                </div>
                <div class="form-check mb-0">
                  <input class="form-check-input mt-3" type="checkbox" id="defaultCheck5" />
                  <label for="defaultCheck5" class="form-check-label ms-4">
                    <span class="mb-0 h6">5. What is ui/ux</span>
                    <small class="text-body d-block">10.6 min</small>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingTwo">
              <button
                type="button"
                class="accordion-button collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#chapterTwo"
                aria-expanded="false"
                aria-controls="chapterTwo">
                <span class="d-flex flex-column">
                  <span class="h5 mb-0">Web Design for Web Developers</span>
                  <span class="text-body fw-normal">1 / 4 | 4.4 min</span>
                </span>
              </button>
            </div>
            <div id="chapterTwo" class="accordion-collapse collapse" data-bs-parent="#courseContent">
              <div class="accordion-body py-4">
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defCheck1" checked="" />
                  <label for="defCheck1" class="form-check-label ms-4">
                    <span class="mb-0 h6">1. How to use Pages in Figma</span>
                    <small class="text-body d-block">8:31 min</small>
                  </label>
                </div>
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defCheck2" />
                  <label for="defCheck2" class="form-check-label ms-4">
                    <span class="mb-0 h6">2. What is Lo Fi Wireframe</span>
                    <small class="text-body d-block">2 min</small>
                  </label>
                </div>
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defCheck3" />
                  <label for="defCheck3" class="form-check-label ms-4">
                    <span class="mb-0 h6">3. How to use color in Figma</span>
                    <small class="text-body d-block">5.9 min</small>
                  </label>
                </div>
                <div class="form-check mb-0">
                  <input class="form-check-input mt-3" type="checkbox" id="defCheck4" />
                  <label for="defCheck4" class="form-check-label ms-4">
                    <span class="mb-0 h6">4. Frames vs Groups in Figma</span>
                    <small class="text-body d-block">3.6 min</small>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingThree">
              <button
                type="button"
                class="accordion-button collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#chapterThree"
                aria-expanded="false"
                aria-controls="chapterThree">
                <span class="d-flex flex-column">
                  <span class="h5 mb-0">Build Beautiful Websites!</span>
                  <span class="text-body fw-normal">0 / 6 | 4.4 min</span>
                </span>
              </button>
            </div>
            <div id="chapterThree" class="accordion-collapse collapse" data-bs-parent="#courseContent">
              <div class="accordion-body py-4">
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defCheck-01" />
                  <label for="defCheck-01" class="form-check-label ms-4">
                    <span class="mb-0 h6">1. Section & Div Block</span>
                    <small class="text-body d-block">8:31 min</small>
                  </label>
                </div>
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defCheck-02" />
                  <label for="defCheck-02" class="form-check-label ms-4">
                    <span class="mb-0 h6">2. Read-Only Version of Chat App</span>
                    <small class="text-body d-block">8 min</small>
                  </label>
                </div>
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defCheck-03" />
                  <label for="defCheck-03" class="form-check-label ms-4">
                    <span class="mb-0 h6">3. Webflow Autosave</span>
                    <small class="text-body d-block">2.9 min</small>
                  </label>
                </div>
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defCheck-04" />
                  <label for="defCheck-04" class="form-check-label ms-4">
                    <span class="mb-0 h6">4. Canvas Settings</span>
                    <small class="text-body d-block">7.6 min</small>
                  </label>
                </div>
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defCheck-05" />
                  <label for="defCheck-05" class="form-check-label ms-4">
                    <span class="mb-0 h6">5. HTML Tags</span>
                    <small class="text-body d-block">10 min</small>
                  </label>
                </div>
                <div class="form-check mb-0">
                  <input class="form-check-input mt-3" type="checkbox" id="defCheck-06" />
                  <label for="defCheck-06" class="form-check-label ms-4">
                    <span class="mb-0 h6">6. Footer (Chat App)</span>
                    <small class="text-body d-block">9.10 min</small>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingFour">
              <button
                type="button"
                class="accordion-button collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#chapterFour"
                aria-expanded="false"
                aria-controls="chapterFour">
                <span class="d-flex flex-column">
                  <span class="h5 mb-0">Final Project</span>
                  <span class="text-body fw-normal">2 / 3 | 4.4 min</span>
                </span>
              </button>
            </div>
            <div id="chapterFour" class="accordion-collapse collapse" data-bs-parent="#courseContent">
              <div class="accordion-body py-4">
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defCheck-101" checked="" />
                  <label for="defCheck-101" class="form-check-label ms-4">
                    <span class="mb-0 h6">1. Responsive Blog Site</span>
                    <small class="text-body d-block">10:0 min</small>
                  </label>
                </div>
                <div class="form-check mb-4">
                  <input class="form-check-input mt-3" type="checkbox" id="defCheck-102" checked="" />
                  <label for="defCheck-102" class="form-check-label ms-4">
                    <span class="mb-0 h6">2. Responsive Portfolio</span>
                    <small class="text-body d-block">13:00 min</small>
                  </label>
                </div>
                <div class="form-check mb-0">
                  <input class="form-check-input mt-3" type="checkbox" id="defCheck-103" />
                  <label for="defCheck-103" class="form-check-label ms-4">
                    <span class="mb-0 h6">3. Responsive eCommerce Website</span>
                    <small class="text-body d-block">15 min</small>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  </div>