 <section id="adv-footer">
                <footer class="footer bg-light">
                  <div class="container-fluid container-p-x pt-12 pb-6">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-3 mb-6 mb-sm-0">
                        <h4 class="fw-bold mb-4">
                          <a
                            href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/html/vertical-menu-template/"
                            target="_blank"
                            class="footer-brand"
                            >منصة أريد العلمية
                          </a>
                        </h4>
                        <span>
                          منصة "أُريد" هي مؤسسة غير ربحية مسجلة في دولة بريطانيا ويمكن التسجيل فيها مجاناً لتحقيق أهداف علمية مُتعددة الأوجه، وقد تم إنشاؤها من قبل عدد من الباحثين والخبراء من المهتمين بشؤون تطوير قدرات وطاقات وإمكانات البحث العلمي وتوسيع فرصه واستثمار ميزاته.
                        </span>
                        <!-- <span>Get ready for better world</span>
                        <div class="social-icon my-4">
                          <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-facebook me-2"
                            ><i class="icon-base bx bxl-facebook"></i
                          ></a>
                          <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-twitter me-2"
                            ><i class="icon-base bx bxl-twitter"></i
                          ></a>
                          <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-linkedin me-2"
                            ><i class="icon-base bx bxl-linkedin"></i
                          ></a>
                          <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-github"
                            ><i class="icon-base bx bxl-github"></i
                          ></a>
                        </div> -->
                        <!-- <p class="pt-6">
                          <script>
                            document.write(new Date().getFullYear());
                          </script>
                          ©
                          <a href="https://themeselection.com" target="_blank" class="text-primary">ThemeSelection </a>
                        </p> -->
                      </div>
                      <div class="col-12 col-sm-6 col-md-3 mb-6 mb-md-0">
                        <h5>روابط هامة</h5>
                        <ul class="list-unstyled">
                          <li><a href="javascript:void(0)" class="footer-link d-block pb-2">المقرات</a></li>
                          <li><a href="javascript:void(0)" class="footer-link d-block pb-2">سياسة الخصوصية</a></li>
                          <li><a href="javascript:void(0)" class="footer-link d-block pb-2">أتصل بنا</a></li>
                          <li><a href="javascript:void(0)" class="footer-link d-block pb-2">الأول في اريد</a></li>
                          <!-- <li><a href="javascript:void(0)" class="footer-link d-block pb-2">FAQs</a></li> -->
                        </ul>
                      </div>
                      <div class="col-12 col-sm-6 col-md-3 mb-6 mb-sm-0">
                        <h5>خدمات المنصة</h5>
                        <ul class="list-unstyled">
                          <li><a href="javascript:void(0)" class="footer-link d-block pb-2">العضوية الاحترافية</a></li>
                          <li>
                            <a href="javascript:void(0)" class="footer-link d-block pb-2">دعوة باحث</a>
                          </li>
                          <li><a href="javascript:void(0)" class="footer-link d-block pb-2">خطاب الانتساب</a></li>
                          <li><a href="javascript:void(0)" class="footer-link d-block pb-2">تعبئة الرصيد</a></li>
                          <li><a href="javascript:void(0)" class="footer-link d-block pb-2">تحويل رصيد</a></li>
                          <!-- <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Changelog</a></li> -->
                        </ul>
                      </div>
                      <div class="col-12 col-sm-6 col-md-3">
                        <h5>أتصل بنا</h5>
                        <ul class="list-unstyled">
                          <li><a href="javascript:void(0)" class="footer-link d-block pb-2"><a href="javascript:void(0)" class="btn btn-icon btn-sm btn-facebook me-2"
                            ><i class="fa fa-mail"></i
                          ></a> info&#64;arid.my</a></li>
                          <li>
                            <a href="javascript:void(0)" class="footer-link d-block pb-2"><a href="javascript:void(0)" class="btn btn-icon btn-sm btn-facebook me-2"
                            ><i class="fa fa-home"></i
                          ></a>London, UK</a>
                          </li>
                          <li><a href="javascript:void(0)" class="footer-link d-block pb-2"><a href="javascript:void(0)" class="btn btn-icon btn-sm btn-facebook me-2"
                            ><i class="icon-base bx bxl-facebook"></i
                          ></a> 128 City Road, EC1V 2NX</a></li>
                          <li><a href="javascript:void(0)" class="footer-link d-block pb-2"><a href="javascript:void(0)" class="btn btn-icon btn-sm btn-facebook me-2"
                            ><i class="fa fa-home"></i
                          ></a>facebook</a></li>
                         </ul>
                      </div>
                    </div>
                  </div>
                </footer>
              </section>