<div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 60px;">
    <div class="row g-6 justify-content-center">
      <!-- Upcoming Webinar -->
      <div class="text-center col-12 col-md-12  col-xxl-10 col-lg-10">
        <h2 class="font-weight-bolder py-2">الإشتراك في العضوية الاحترافية</h2>
        <div class="d-flex justify-content-center flex-wrap mb-2">
          <!-- <a class="btn btn-primary mx-2  text-white" asp-controller="ApplicationUsers" asp-action="Premium">
              <i class="fas fa-list"></i> قائمة شاملة لجميع العضويات الاحترافية
          </a> -->
          <span class="mx-2"></span>
          <a class="btn btn-secondary text-white mx-2" 
          target="_blank"
           href="https://chatgpt.com/g/g-6760b095d9388191962ac6638a24e172-ld-m-lfny-lftrdy-mns-ryd">
              <i class="fas fa-headset"></i> دعم فني خاص - المساعد الافتراضي
          </a>
          <span class="mx-2"></span>
          <a class="btn btn-warning text-white  mx-2" asp-controller="Badges" asp-action="Details" asp-route-id="27">
              <i class="fas fa-medal"></i> وسام العضوية الاحترافية
          </a>
      </div>
      <p>الطاقة الاستيعابية السنوية للعضويات الاحترافية : 1200 عضوية</p>

    </div>
      <div class="col-12 col-md-12  col-xxl-10 col-lg-10 text-start">
        <div class="card h-100">
          <div class="card-body">
            <div class="bg-label-primary rounded-3 text-center mb-4">
              <img class="img-fluid" src="https://portal.arid.my/images/offer48.jpeg"
                alt="Card girl image" style="width:fit-content;border-radius: 10px;" />
            </div>
           
            <h5 class="mb-2"> العضوية الاحترافية
            </h5>
            <p>تُعلن منصة أريد عن اطلاق برنامج العضويات الاحترافية والتي تمنح الباحث ميزات إضافية لعُضويته في
              منصة اُريد منها اخفاء الاعلانات وتقديم الدعم الفني السريع وتحقيق الحساب.</p>
            
             
              <div class="row mb-4 g-3">
              <div class="col-12">
                <div class="d-flex align-items-center">

                  <div class="avatar flex-shrink-0 me-3">
                    <span class="avatar-initial rounded bg-label-primary">
                      <i class="icon-base bx bx-star"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="mb-0 text-nowrap">مميزات العضوية الاحترافية </h4>
                  </div>

                </div>
                <div>
                  <ul style="list-style: arabic-indic;" class="py-2">
                    <li class="py-2">إخفاء الإعلانات في المنصة بالكامل</li>
                    <li class="py-2">إضافة علامة التحقق من العضوية في الصفحة الرئيسية جنب الاسم للدلالة على
                      امتلاك الباحث العضوية الاحترافية مما يعكس احترافية في تعامل الأفراد والمؤسسات مع الباحث.
                    </li>
                    <li class="py-2">الإشعار المبكر بالفعاليات متضمنة المؤتمرات والندوات والمحاضرات وورش العمل
                      والمخيمات التدريبية والدبلومات الخاصة بمنصة أُريد.
                    </li>
                    <li class="py-2">إسناد مدير لحساب الباحث في منصة أُريد من قبل فريق الدعم الفني للإجابة
                      المباشرة على الأسئلة والاستفسارات وتقديم دعم فني سريع.
                    </li>
                    <li class="py-2">الاشتراك ببعض الدورات التدريبية مجاناً بالكامل مع الشواهد باللغتين العربية
                      والإنجليزية.
                    </li>
                    <li class="py-2">إصدار شواهد وكتب التأييد باللغتين العربية والإنجليزية لجميع الأوسمة التي
                      حصل عليها الباحث مجاناً.
                    </li>

                  </ul>
                </div>
              </div>
            </div>
            <div class="row mb-4 g-3">
              <div class="col-12">
                <div class="d-flex align-items-center">

                  <div class="avatar flex-shrink-0 me-3">
                    <span class="avatar-initial rounded bg-label-primary">
                      <i class="icon-base bx bx-book"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="mb-0 text-nowrap">نماذج من دورات تدريبية مجانية للعام 2025م
                    </h4>
                    <small>مجموع الدورات أدناه: 1950 دولار تحصل عليها مجانا بالعضوية الاحترافية
                    </small>
                  </div>

                </div>
                <div>
                  <ul style="list-style: arabic-indic;" class="py-2">
                    <li class="py-2">الذكاء الاصطناعي التوليدي
                    </li>
                    <li>تصميم الحقائب التدريبية والأنظمة التعلمية عن طريق نموذج أدي (ADDIE)
                    </li>
                    <li class="py-2">التفكير النقدي وحل المشكلات
                    </li>
                    <li class="py-2">التسويق الإلكتروني وصناعة الهوية الرقمية
                    </li>
                    <li class="py-2">تحقيق المخطوطات والوثائق
                    </li>
                    <li class="py-2">تدوين السير الذاتية للعلماء والخبراء والباحثين
                    </li>
                    <li class="py-2">الكتابة الأكاديمية باللغة الإنجليزية
                    </li>
                    <li class="py-2">الكتابة الأكاديمية باللغة العربية
                    </li>
                    <li class="py-2">صناعة المنصات الرقمية
                    </li>
                    <li class="py-2">دورة إدارة الوقت والمهام عبر الذكاء الاصطناعي
                    </li>
                    <li class="py-2">تنظيم المؤتمرات العلمية
                    </li>
                    <li class="py-2">لغة الجسد الرقمية (Digital Body Language)
                    </li>
                    <li class="py-2">المهارة الذهبية: تعلم كيف تتعلم
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row mb-4 g-3">
              <div class="col-12">
                <div class="d-flex align-items-center">

                  <div class="avatar flex-shrink-0 me-3">
                    <span class="avatar-initial rounded bg-label-primary">
                      <i class="icon-base bx bx-file"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="mb-0 text-nowrap">شروط استخدام العضوية الاحترافية</h4>
                  </div>

                </div>
                <div>
                  <ul style="list-style: arabic-indic;" class="py-2">
                   
                      <li class="py-2">
                        <div class="card accordion-item active">
                          <h6 class="accordion-header">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#accordionPayment-1"
                              aria-controls="accordionPayment-1">طبيعة المنصة والخدمات المقدمة</button>
                          </h6>
                          <div id="accordionPayment-1" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                              المنصة موقع إلكتروني وقد يتعرض للاختراق، التوقف، الصيانة، تعطل السيرفر، أو بعض المشاكل التقنية. في هذه الحالات، قد يصعب تقديم خدمات احترافية للأعضاء.
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="py-2">
                        <div class="card accordion-item active">
                          <h6 class="accordion-header">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#accordionPayment-2"
                              aria-controls="accordionPayment-2">
                              تغيير الشروط والميزات         
                             </button>
                            </h6>
                          <div id="accordionPayment-2" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                             تحتفظ المنصة بالحق في تعديل شروط أو ميزات العضوية الاحترافية أو المنح المقدمة وفقًا للمصلحة العامة دون الحاجة إلى إشعار مسبق للمشتركين.
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="py-2">
                        <div class="card accordion-item active">
                          <h6 class="accordion-header">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#accordionPayment-3"
                              aria-controls="accordionPayment-3">
                              رسوم الاشتراك                
                                                 </button>
                                                </h6>
                          <div id="accordionPayment-3" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                               قد تتغير رسوم الاشتراك حسب المصلحة العامة، وسيتم تطبيق الأسعار الجديدة على الاشتراكات المستقبلية.
                            </div>
                          </div>
                        </div>
                      </li>
                      <li  class="py-2">
                        <div class="card accordion-item active">
                          <h6 class="accordion-header">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#accordionPayment-4"
                              aria-controls="accordionPayment-4">
                              سياسة الإلغاء واسترداد الرسوم             
                                                 </button>
                                                </h6>
                          <div id="accordionPayment-4" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                              لا يحق للعضو المطالبة بإلغاء العضوية الاحترافية أو استرداد مبلغ الاشتراك بعد التسجيل.
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="py-2">
                        <div class="card accordion-item active">
                          <h6 class="accordion-header">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#accordionPayment-5"
                              aria-controls="accordionPayment-5">
                              نقل العضوية الاحترافية             
                                                 </button>
                                                </h6>
                          <div id="accordionPayment-5" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                               لا يجوز نقل العضوية الاحترافية أو ميزاتها إلى عضو آخر تحت أي ظرف.
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="py-2">
                        <div class="card accordion-item active">
                          <h6 class="accordion-header">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#accordionPayment-6"
                              aria-controls="accordionPayment-6">
                              حقوق العضو الاحترافي               
                             </button>
                          </h6>
                          <div id="accordionPayment-6" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                              <ul>
                                <li>يحق للعضو الاحترافي التعريف بعضويته وبميزاتها لباقي الأعضاء.
                                </li>
                                <li>يحق للأعضاء الاحترافيين مساعدة باقي الأعضاء في الحصول على العضوية الاحترافية وتفعيلها.
                                </li>
                              </ul>
                             </div>
                          </div>
                        </div>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row mb-4 g-3">
              <div class="col-12">
                <div class="d-flex align-items-center">

                  <div class="avatar flex-shrink-0 me-3">
                    <span class="avatar-initial rounded bg-label-primary">
                      <i class="icon-base bx bx-wallet"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="mb-0 text-nowrap"> رسوم الاشتراك</h4>
                  </div>

                </div>
                <div>
                  <ul style="list-style: none;" class="py-2">
                    <li class="py-2">رسوم الاشتراك بالعضوية الاحترافية: <del>5 دولار شهريا</del> تدفع مرة واحدة سنويا بمقدار 60 دولار سنويا.

                    </li>
                  </ul>
                </div>
              </div>
            </div>

             <div class="d-flex   justify-content-center "  *ngIf="MemerShipData != null">                         
              <p class="bg-success  text-white rounded p-3">الاشتراك بالعضوية الاحترافية سينتهي بتاريخ <span class="text-danger">{{MemerShipData.dueDate}}</span></p>                 
             </div>                                           
          
          <div class="d-flex flex-wrap justify-content-center" *ngIf="User.balance >= 60 && MemerShipData == null">                     
              <a href="javascript:void(0);" (click)="Subscribe()" class="btn btn-primary w-100 d-grid">اشترك الان برسوم 5 دولار شهريا</a>                 
          </div>                                           
          
          <div class=" text-center " *ngIf="MemerShipData == null && User.balance < 60">                     
              <p class="text-danger font-weight-bolder mx-2">لا يوجد لديك رصيد كافى للأشتراك فى العضوية الأحترافية </p>                     
              <a routerLink="/clientPage/Pages/PaymentMethod" class="btn btn-primary text-white border-0 rounded-0">طرق تعبئة الرصيد المتاحة</a>                 
          </div>
             
          </div>
        </div>
      </div>
    
    </div>
