
<div class="container-xxl flex-grow-1 container-p-y justify-content-start">

    <div class="card">  

      <div class="row px-2 justify-content-between" >
        <div class="col-12 col-md-5 col-lg-5 d-flex">
          <a class="btn btn-primary m-3 text-white" routerLink="/userPage/Badges/Add" style="width: 200px;">اضافة وسام جديد </a>

        </div>
        
      </div>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>الشعار</th>
              <th>الأسم العربى</th>
              <th>الأسم الأنجليزى</th>
              <th> عدد الحاصلين على الوسام</th>
              <th>العمليات</th>
            </tr>
          </thead>
          <tbody>
             <tr *ngFor="let Badge of Badges;let i= index">
              <td>
                <i class="icon-base fab fa-angular icon-md text-danger me-4"></i> <span>{{i+1}}</span>
              </td>
              
              <td><img [src]="Badge.badgeLogo" style="width:60px" class="img-fluid"/></td>
              <td>{{Badge.arBadgeName}}</td>
              <td>{{Badge.enBadgeName}}</td>
              <td>{{Badge.usersCount}}</td>

              <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="icon-base bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/userPage/Badges/Edit',Badge.id]"
                      ><i class="icon-base bx bx-edit-alt me-1 text-warning"></i> تعديل</a
                    >
                    <a class="dropdown-item" (click)="Delete(Badge.id)"
                      ><i class="icon-base bx bx-trash me-1 text-danger"></i> حذف</a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
         <div class="paginator-container text-center d-flex justify-content-center">
        <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5,25,50,100]"
          (page)="onPageChange($event)">
        </mat-paginator>
      </div>
      </div>
    </div>
    
  </div>
  
  
  <div class="content-backdrop fade"></div>
  <!-- Content wrapper -->