<div class="card-body my-auto pt-3">
  <h6 class="text-left">تغيير كلمة المرور</h6>

    <form id="formAccountSettings" [formGroup]="UpdateForm" method="POST" onsubmit="return false">
      <div class="row text-start justify-content-center">
<!-- {{UpdateForm.value|json}} -->
       <div class="col-12 col-lg-12 col-md-12">
        <div class="mb-3 col-md-12">
            <label for="firstName" class="form-label">كلمة المرور القديمة</label>
            <input class="form-control" formControlName="oldPassword" type="password" id="firstName"
            placeholder="ادخل كلمة المرور القديمة"
            name="firstName" value=" "
              autofocus />
              <div *ngIf="UpdateForm.controls['oldPassword'].invalid && UpdateForm.controls['oldPassword'].touched">
                <small *ngIf="UpdateForm.controls['oldPassword'].errors?.['required']" class="text-danger">ادخل كلمة المرور القديمة</small>
             </div>
          </div>
          <div class="mb-3 col-md-12">
            <label for="lastName" class="form-label">كلمة المرور الجديدة</label>
            <input class="form-control" formControlName="newPassword" type="password" name="lastName" 
                        placeholder="ادخل كلمة المرور الجديدة"

            id="lastName" value=" " />
            <div *ngIf="UpdateForm.controls['newPassword'].invalid && UpdateForm.controls['newPassword'].touched">
              <small *ngIf="UpdateForm.controls['newPassword'].errors?.['required']" class="text-danger">ادخل كلمة المرور</small>
              <small *ngIf="UpdateForm.controls['newPassword'].errors?.['min']" class="text-danger">كلمة المرور يجب ان لا تقل عن 6 احرف </small>
          </div>
          
          </div>
          <div class="mb-3 col-md-12">
            <label for="address" class="form-label">تأكيد كلمة المرور الجديدة</label>
            <input type="password" class="form-control" formControlName="confirmPassword" 
                        placeholder="ادخل تأكيد كلمة المرور الجديدة"
 id="address" name="address"   />
            <div *ngIf="UpdateForm.controls['confirmPassword'].invalid && UpdateForm.controls['confirmPassword'].touched">
              <small *ngIf="UpdateForm.controls['confirmPassword'].errors?.['required']" class="text-danger">ادخل كلمة المرور</small>
              <small *ngIf="UpdateForm.controls['confirmPassword'].errors?.['NotMatched']" class="text-danger">كلمات المرور غير متطابقة</small>
          </div>
          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary mx-2" (click)="Submit()">حفظ التغييرات</button>
            <button type="reset" class="btn btn-outline-secondary">الغاء</button>
          </div>
       </div>
           
       
        </div>
    </form>
  </div>