<section class="section-py  first-section-pt p-0">
    <div class="container">
        <div class="card px-3 shadow-none">
            <div class="row">
                <div class="col-lg-7 card-body   p-md-8">
                    <h4 class="mb-2">تعبئة الرصيد عبر PayPal </h4>
                    <form [formGroup]="PayPalForm">
                        <div class="row mb-3 text-start justify-content-center">
                            <div class="mb-3 col-md-8">
                                <label for="amount" class="form-label"> المبلغ (دولار)</label>
                                <input type="number" id="amount" class="form-control" formControlName="amount"
                                    placeholder="ادخل المبلغ  " autofocus />

                                <div
                                    *ngIf="PayPalForm.controls['amount'].invalid && PayPalForm.controls['amount'].touched">
                                    <small *ngIf="PayPalForm.controls['amount'].errors?.['required']"
                                        class="text-danger">ادخل المبلغ </small>
                                    <small *ngIf="PayPalForm.controls['amount'].errors?.['min']" class="text-danger">
                                        المبلغ يجب ان يكون على الأقل 1 دولار
                                    </small>

                                </div>

                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-sm-10">
                                <button type="submit" id="Submit" (click)="Submit()"
                                    class="btn btn-primary">التالى</button>

                            </div>
                        </div>

                    </form>
                    <div class="row g-5 py-8 justify-content-center">
                        <div class="col-md-8 text-lg-center">
                            <div id="paypal-button-container"></div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary w-50 text-center" routerLink="/clientPage/Pages/PaymentMethod">طرق تعبئة
                            الرصيد الأخرى</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>