<div class="row my-6">
    <div class="col">
      <div class="accordion" id="collapsibleSection">
        <!-- Delivery Address -->
       <form [formGroup]="UserSkillForm">

        <div class="card accordion-item shadow-none">
      
          <div
            id="collapseDeliveryAddress"
            class="accordion-collapse collapse show"
            aria-labelledby="headingDeliveryAddress"
            data-bs-parent="#collapsibleSection">
            <h6 class="my-3 py-2 me-5" style="color: white;
            background-color: #696cff;
            border-radius: 5px;">  تعديل مهارة  </h6>
            <div class="accordion-body">
              <div class="row g-6 text-start">
                <div class="col-md-6">
                  <div class="row">
                    <label class="col-sm-3 col-form-label text-sm-end" for="collapsible-state">المهارة</label>
                    <div class="col-sm-9">
                      <select id="collapsible-state" formControlName="skillId" class="select2 form-select" data-allow-clear="true">
                        <option value="" selected disabled> اختر المهارة</option>
                        <option *ngFor="let Skill of Skills" [value]="Skill.id">{{Skill.name}}</option>
                       </select>
                      <div *ngIf="UserSkillForm.controls['skillId'].invalid && UserSkillForm.controls['skillId'].touched">
                        <small *ngIf="UserSkillForm.controls['skillId'].errors?.['required']" class="text-danger">اختر المهارة  مطلوبة</small>
                       </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-end mt-3 text-center">
                  <div class="col-sm-10">
                    <button type="submit" (click)="Submit()" class="btn btn-primary">حفظ</button>
                    <a routerLink="/clientPage/UserSkill" class="btn btn-secondary mx-2">الرجوع الى القائمة</a>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </form>
        

        </div>
        </div>
        </div>
        