<div class="container-xxl flex-grow-1 container-p-y">

  <div class="row" dir="rtl">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="mb-0">تعديل تخصص</h5>
        </div>
        <!--{{specialityForm.value|json}}-->
         <div class="card-body">
          <form [formGroup]="specialityForm">
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-default-name">اسم التخصص </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="name" id="basic-default-name" placeholder="ادخل اسم التخصص" />

                <div *ngIf="specialityForm.controls['name'].invalid && specialityForm.controls['name'].touched">
                  <small *ngIf="specialityForm.controls['name'].errors?.['required']" class="text-danger">اسم التخصص مطلوب</small>
                  <small *ngIf="specialityForm.controls['name'].errors?.['pattern']" class="text-danger">يجب إدخال اسم التخصص باللغة العربية فقط</small>

                </div>
              </div>

            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-default-name">اسم التخصص باللغة الأنجليزية </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="enSpecialityName" id="basic-default-name" placeholder="ادخل اسم التخصص باللغة الأنجليزية" />

                <div *ngIf="specialityForm.controls['enSpecialityName'].invalid && specialityForm.controls['enSpecialityName'].touched">
                  <small *ngIf="specialityForm.controls['enSpecialityName'].errors?.['required']" class="text-danger">اسم التخصص  باللغة الأنجليزية مطلوب</small>
                  <small *ngIf="specialityForm.controls['enSpecialityName'].errors?.['pattern']" class="text-danger">يجب إدخال اسم التخصص باللغة الإنجليزية فقط</small>

                </div>
              </div>

            </div>
            <div class="row justify-content-end">
              <div class="col-sm-10">
                <button type="submit" (click)="Submit()" class="btn btn-primary">حفظ</button>
                <button routerLink="/userPage/specialities" class="btn btn-secondary mx-2">الغاء</button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
