<div class="app-email card" style="margin-top: 100px;height: 500px;">
                <div class="row g-0" >
                  <!-- Email Sidebar -->
                  <div class="col app-email-sidebar border-end flex-grow-0" id="app-email-sidebar">
                    <div class="btn-compost-wrapper d-grid">
                      <button
                      (click)="OpenAddDialog()"
                        class="btn btn-primary btn-compose"
                        id="emailComposeSidebarLabel">
                       رسالة جديد
                      </button>
                    </div>
                    <!-- Email Filters -->
                    <div class="email-filters pt-4 pb-2">
                      <!-- Email Filters: Folder -->
                      <ul class="email-filter-folders list-unstyled">
                        <li class="active d-flex justify-content-between align-items-center mb-1" data-target="inbox">
                          <a href="javascript:void(0);" (click)="GetInboxMessages()"  class="d-flex flex-wrap align-items-center">
                            <i class="icon-base bx bx-envelope"></i>
                            <span class="align-middle ms-2">الرسائل الواردة</span>
                          </a>
                          <div class="badge bg-label-primary rounded-pill">{{MessageCount.unReadIncomingMessageCount}}</div>
                        </li>
                        <li class="d-flex mb-1" data-target="sent">
                          <a href="javascript:void(0);"  (click)="GetSentMessages()" class="d-flex flex-wrap align-items-center">
                            <i class="icon-base bx bx-send"></i>
                            <span class="align-middle ms-2">الرسائل المرسلة</span>
                          </a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center mb-1" data-target="draft">
                          <a href="javascript:void(0);" (click)="GetArchiveMessage()" class="d-flex flex-wrap align-items-center">
                            <i class="icon-base bx bx-edit"></i>
                            <span class="align-middle ms-2">المورشفة</span>
                          </a>
                          <div class="badge bg-label-warning rounded-pill">{{MessageCount.messageAchiveCount}}</div>
                        </li>
                        <!---
                        <li class="d-flex justify-content-between mb-1" data-target="starred">
                          <a href="javascript:void(0);" class="d-flex flex-wrap align-items-center">
                            <i class="icon-base bx bx-star"></i>
                            <span class="align-middle ms-2">Starred</span>
                          </a>
                        </li>
                        <li class="d-flex justify-content-between align-items-center mb-1" data-target="spam">
                          <a href="javascript:void(0);" class="d-flex flex-wrap align-items-center">
                            <i class="icon-base bx bx-error-alt"></i>
                            <span class="align-middle ms-2">Spam</span>
                          </a>
                          <div class="badge bg-label-danger rounded-pill">4</div>
                        </li>
                        <li class="d-flex align-items-center" data-target="trash">
                          <a href="javascript:void(0);" class="d-flex flex-wrap align-items-center">
                            <i class="icon-base bx bx-trash"></i>
                            <span class="align-middle ms-2">Trash</span>
                          </a>
                        </li> -->
                      </ul>
                      
                    </div>
                  </div>
                  <!--/ Email Sidebar -->

                  <!-- Emails List -->
                    <div class="col app-emails-list" >

                  <router-outlet></router-outlet>
                      </div>
                  <!-- /Emails List -->

                  <!-- Email View -->
                <!-- <div class="col app-email-view flex-grow-0 bg-lighter" id="app-email-view">
                    <div class="card shadow-none border-0 rounded-0 app-email-view-header p-5 pt-md-4 py-2">
                       <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center overflow-hidden">
                          <span class="ms-sm-2 me-4"
                            ><i
                              class="icon-base bx bx-chevron-left icon-md cursor-pointer scaleX-n1-rtl"
                              data-bs-toggle="sidebar"
                              data-target="#app-email-view"></i
                          ></span>
                          <h6 class="text-truncate mb-0 me-2 fw-normal">Focused impactful open issues</h6>
                          <span class="badge bg-label-warning">Important</span>
                        </div>
                         <div class="d-flex align-items-center">
                          <span class="btn btn-icon p-0 me-2 text-body-secondary">
                            <i class="icon-base bx bx-chevron-left icon-md scaleX-n1-rtl"></i>
                          </span>
                          <span class="btn btn-icon p-0">
                            <i class="icon-base bx bx-chevron-right icon-md scaleX-n1-rtl"></i>
                          </span>
                        </div>
                      </div>
                      <hr class="app-email-view-hr mx-n5 mb-2" />
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <span class="btn btn-icon me-1"
                            ><i class="icon-base bx bx-trash icon-md cursor-pointer"></i
                          ></span>
                          <span class="btn btn-icon me-1"
                            ><i
                              class="icon-base bx bx-envelope-open icon-md cursor-pointer"
                              data-bs-toggle="sidebar"
                              data-target="#app-email-view"></i
                          ></span>
                          <div class="dropdown">
                            <button
                              class="btn btn-icon p-0 me-1"
                              type="button"
                              id="dropdownMenuFolderTwo"
                              data-bs-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">
                              <i class="icon-base bx bx-folder icon-md"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuFolderTwo">
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon-base bx bx-error-alt me-1"></i>
                                <span class="align-middle">Spam</span>
                              </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon-base bx bx-pencil me-1"></i>
                                <span class="align-middle">Draft</span>
                              </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon-base bx bx-trash me-1"></i>
                                <span class="align-middle">Trash</span>
                              </a>
                            </div>
                          </div>
                          <div class="dropdown">
                            <button
                              class="btn btn-icon p-0"
                              type="button"
                              id="dropdownLabelTwo"
                              data-bs-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">
                              <i class="icon-base bx bx-label icon-md"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLabelTwo">
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="badge badge-dot bg-success me-1"></i>
                                <span class="align-middle">Workshop</span>
                              </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="badge badge-dot bg-primary me-1"></i>
                                <span class="align-middle">Company</span>
                              </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="badge badge-dot bg-info me-1"></i>
                                <span class="align-middle">Important</span>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex align-items-center">
                          <span class="btn btn-icon p-0">
                            <i class="icon-base bx bx-star icon-md"></i>
                          </span>
                          <div class="dropdown ms-1">
                            <button
                              class="btn btn-icon p-0"
                              type="button"
                              id="dropdownMoreOptions"
                              data-bs-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">
                              <i class="icon-base bx bx-dots-vertical-rounded icon-md"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMoreOptions">
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon-base bx bx-envelope me-1"></i>
                                <span class="align-middle">Mark as unread</span>
                              </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon-base bx bx-envelope-open me-1"></i>
                                <span class="align-middle">Mark as read</span>
                              </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon-base bx bx-star me-1"></i>
                                <span class="align-middle">Add star</span>
                              </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon-base bx bx-calendar me-1"></i>
                                <span class="align-middle">Create Event</span>
                              </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon-base bx bx-volume-mute me-1"></i>
                                <span class="align-middle">Mute</span>
                              </a>
                              <a class="dropdown-item d-sm-none d-block" href="javascript:void(0)">
                                <i class="icon-base bx bx-printer me-1"></i>
                                <span class="align-middle">Print</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="m-0" />
                     <div class="app-email-view-content py-4">
                      <p class="email-earlier-msgs text-center cursor-pointer mb-12">4 Earlier Messages</p>
                       <div class="card email-card-prev mx-sm-6 mx-3">
                        <div
                          class="card-header d-flex justify-content-between align-items-center flex-wrap border-bottom">
                          <div class="d-flex align-items-center mb-sm-0 mb-3">
                            <img
                              src="../../assets/img/avatars/2.png"
                              alt="user-avatar"
                              class="flex-shrink-0 rounded-circle me-4"
                              height="38"
                              width="38" />
                            <div class="flex-grow-1 ms-1">
                              <h6 class="m-0 fw-normal">Ross Geller</h6>
                              <small class="text-body">rossGelleremail.com</small>
                            </div>
                          </div>
                          <div class="d-flex align-items-center">
                            <p class="mb-0 me-4 text-body-secondary">June 20th 2020, 08:30 AM</p>
                            <span class="btn btn-icon"
                              ><i class="icon-base bx bx-paperclip icon-md cursor-pointer"></i
                            ></span>
                            <span class="btn btn-icon"
                              ><i class="email-list-item-bookmark icon-base bx bx-star icon-md cursor-pointer"></i
                            ></span>
                            <div class="dropdown">
                              <button
                                class="btn btn-icon p-0"
                                type="button"
                                id="dropdownEmailOne"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <i class="icon-base bx bx-dots-vertical icon-md"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownEmailOne">
                                <a class="dropdown-item scroll-to-reply" href="javascript:void(0)">
                                  <i class="icon-base bx bx-share me-1"></i>
                                  <span class="align-middle">Reply</span>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                  <i class="icon-base bx bx-share me-1"></i>
                                  <span class="align-middle">Forward</span>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                  <i class="icon-base bx bx-info-circle me-1"></i>
                                  <span class="align-middle">Report</span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body pt-6">
                          <p class="fw-medium">Greetings!</p>
                          <p>
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less
                            normal distribution of letters, as opposed to using 'Content here, content here',making it
                            look like readable English.
                          </p>
                          <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable.
                          </p>
                          <p class="mb-0">Sincerely yours,</p>
                          <p class="fw-medium mb-0">Envato Design Team</p>
                          <hr />
                          <p class="text-body-secondary mb-2">Attachments</p>
                          <div class="cursor-pointer">
                            <i class="icon-base bx bx-file"></i>
                            <span class="align-middle ms-1">report.xlsx</span>
                          </div>
                        </div>
                      </div>
                       <div class="card email-card-last mx-sm-6 mx-3 mt-4">
                        <div
                          class="card-header d-flex justify-content-between align-items-center flex-wrap border-bottom">
                          <div class="d-flex align-items-center mb-sm-0 mb-3">
                            <img
                              src="../../assets/img/avatars/1.png"
                              alt="user-avatar"
                              class="flex-shrink-0 rounded-circle me-4"
                              height="38"
                              width="38" />
                            <div class="flex-grow-1 ms-1">
                              <h6 class="m-0 fw-normal">Chandler Bing</h6>
                              <small class="text-body">iAmAhootemail.com</small>
                            </div>
                          </div>
                          <div class="d-flex align-items-center">
                            <p class="mb-0 me-4 text-body-secondary">June 20th 2020, 08:10 AM</p>
                            <span class="btn btn-icon"
                              ><i class="icon-base bx bx-paperclip icon-md cursor-pointer"></i
                            ></span>
                            <span class="btn btn-icon"
                              ><i class="email-list-item-bookmark icon-base bx bx-star icon-md cursor-pointer"></i
                            ></span>
                            <div class="dropdown">
                              <button
                                class="btn btn-icon dropdown-toggle hide-arrow"
                                id="dropdownEmailTwo"
                                data-bs-toggle="dropdown"
                                aria-expanded="true">
                                <i class="icon-base bx bx-dots-vertical-rounded icon-md"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownEmailTwo">
                                <a class="dropdown-item scroll-to-reply" href="javascript:void(0)">
                                  <i class="icon-base bx bx-share me-1"></i>
                                  <span class="align-middle">Reply</span>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                  <i class="icon-base bx bx-share me-1"></i>
                                  <span class="align-middle">Forward</span>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                  <i class="icon-base bx bx-info-circle me-1"></i>
                                  <span class="align-middle">Report</span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body pt-6">
                          <p class="fw-medium">Greetings!</p>
                          <p>
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less
                            normal distribution of letters, as opposed to using 'Content here, content here',making it
                            look like readable English.
                          </p>
                          <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable.
                          </p>
                          <p class="mb-0">Sincerely yours,</p>
                          <p class="fw-medium mb-0">Envato Design Team</p>
                          <hr />
                          <p class="text-body-secondary mb-2">Attachments</p>
                          <div class="cursor-pointer">
                            <i class="icon-base bx bx-file"></i>
                            <span class="align-middle ms-1">report.xlsx</span>
                          </div>
                        </div>
                      </div>
                       <div class="email-reply card mt-4 mx-sm-6 mx-3 mb-4">
                        <h6 class="card-header border-0 fw-normal pb-4">Reply to Ross Geller</h6>
                        <div class="card-body pt-0 ps-3">
                          <div class="d-flex justify-content-start">
                            <div class="email-reply-toolbar border-0 w-100 ps-0 pb-4">
                              <span class="ql-formats me-0">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                                <button class="ql-link"></button>
                                <button class="ql-image"></button>
                              </span>
                            </div>
                          </div>
                          <div class="email-reply-editor"></div>
                          <div class="d-flex justify-content-end align-items-center mt-4">
                            <div class="cursor-pointer btn btn-text-secondary text-secondary me-4">
                              <i class="icon-base bx bx-paperclip icon-18px text-heading me-2"></i>
                              <span class="align-middle">Attachments</span>
                            </div>
                            <button class="btn btn-primary">
                              <span class="align-middle">Send</span>
                              <i class="icon-base bx bx-paper-plane icon-sm ms-2 scaleX-n1-rtl"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  -->



                 </div>

              
              </div>