  <aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu flex-grow-0">
          <div class="container-xxl d-flex h-100 scroll-container">
            <ul class="menu-inner ">
 <li class="menu-item "  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
                <a href="javascript:void(0)"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" routerLink="/clientPage/Home" class="menu-link ">
                  <i class="menu-icon icon-base bx bx-home-smile"></i>
                  <div data-i18n="AcadmicActivites"> الرئيسية</div>
                </a>
              
              </li>
                 <li class="menu-item"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
                <a href="javascript:void(0)"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" routerLink="/clientPage/Badges" class="menu-link">
                  <i class="menu-icon fs-5 fa-solid fa-ribbon"></i>
                  <div data-i18n="الأوسمة"> الأوسمة</div>
                </a>
                
              </li>
               
              <li class="menu-item"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
                <a href="javascript:void(0)"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" routerLink="/clientPage/MemberShip" class="menu-link">
                  <i class="menu-icon icon-base fs-5 fa fa-users"></i>
                  <div data-i18n="العضويات الأحترافية">  العضويات الأحترافية</div>
                </a>
                
              </li>
              <li class="menu-item"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
                <a href="javascript:void(0)"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" routerLink="/clientPage/CrowdFunding" class="menu-link">
                  <i class="menu-icon fs-5 icon-base fa-solid fa-people-group"></i>
                  <div data-i18n="التمويل الجماعى"> التمويل الجماعى</div>
                </a>
                
              </li>
 <li class="menu-item"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
                <a href="javascript:void(0)"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" routerLink="/clientPage/Events" class="menu-link">
                  <i class="menu-icon  icon-base bx bx-calendar"></i>
                  <div data-i18n="التقويم">التقويم</div>
                </a>
                
              </li>
              <li class="menu-item"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
                <a href="javascript:void(0)"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" routerLink="/clientPage/Messages" class="menu-link">
                  <i class="menu-icon fs-5 icon-base fa-solid fa-envelope"></i>
                  <div data-i18n="الرسائل">الرسائل</div>
                </a>
                
              </li>
           
               <!-- <li class="menu-item"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
                <a href="javascript:void(0)"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" routerLink="/clientPage/CrowdFunding" class="menu-link">
            <i class="menu-icon fa-solid fs-5 fa-headset"></i>               
              <div data-i18n="مركز المساعدة">مركز المساعدة</div>
                </a>
                
              </li> -->
              <li class="menu-item"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
                <a href="javascript:void(0)"  routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" routerLink="/clientPage/Certificates" class="menu-link">
<i class="fa-solid fa-certificate menu-icon fs-5"></i>
              <div data-i18n="شهاداتى"> شهاداتى</div>
                </a>
                
              </li>
              <!-- Dashboards -->
              
                  <!-- Multi Level Menu -->
            
            </ul>
          </div>
        </aside>