<aside id="layout-menu" class="layout-menu menu-vertical menu">
  <div class="app-brand demo">
    <a href="index.html" class="app-brand-link">
    
      <img src="https://arid.my/images/logo.png" class="img-fluid">
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="icon-base bx bx-chevron-left"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link ">
        <i class="menu-icon icon-base bx bx-home-smile"></i>
        <div data-i18n="Dashboard">لوحة التحكم</div>
       </a>
      
    </li>
    <!-- Apps & Pages -->
    <li class="menu-header small">
      <span class="menu-header-text" data-i18n="Apps & Pages">Apps &amp; Pages</span>
    </li>
    <li class="menu-item active open">
      <a href="javascript:void(0);" routerLink="/deshboard/users"  class="menu-link ">
        <i class="menu-icon icon-base bx bx-user"></i>
        <div data-i18n="Users">ادارة المستخدمين</div>
      </a>
     
    </li>
    <li class="menu-item">
      <a   routerLink="/deshboard/Roles"  class="menu-link " href="javascript:void(0);">
        <i class="menu-icon icon-base bx bx-check-shield"></i>
        <div data-i18n="الصلاحيات والادوار">الصلاحيات والادوار</div>
      </a>
     
    </li>
    <li class="menu-item">
      <a  routerLink="/deshboard/countries" class="menu-link">
        <i class="menu-icon icon-base bx bx-book-open"></i>
        <div data-i18n="الدول">الدول</div>
      </a>
    </li>
    <li class="menu-item">
      <a  routerLink="/deshboard/cities" class="menu-link">
        <i class="menu-icon icon-base bx bx-book-open"></i>
        <div data-i18n="المدن">المدن</div>
      </a>
    </li>
     
    <li class="menu-item">
      <a routerLink="/deshboard/universities" class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="الجامعات">الجامعات</div>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/deshboard/faculties"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="الكليات">الكليات</div>
      </a>
    </li>
    <li class="menu-item">
      <a  routerLink="/deshboard/specialities" class="menu-link">
        <i class="menu-icon icon-base bx bx-book-open"></i>
        <div data-i18n="التخصصات">التخصصات</div>
      </a>
    </li>
   
    <li class="menu-item">
      <a routerLink="/deshboard/AcademicDegrees"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="الدرجات الأكاديمية">الدرجات الأكاديمية</div>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/deshboard/PositionTypes"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="المناصب الأكاديمية"> المناصب الأكاديمية</div>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/deshboard/Skills"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="المهارات"> المهارات</div>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/deshboard/Expertises"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="الخبرات"> الخبرات</div>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/deshboard/MemberShips"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="العضويات الأحترافية"> العضويات الأحترافية</div>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/deshboard/CertificateTemplates"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="قوالب الشهادات"> قوالب الشهادات</div>
      </a>
    </li>
     <li class="menu-item">
      <a routerLink="/deshboard/CreditSystem"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="طلبات التسليف">طلبات التسليف</div>
      </a>
    </li>
     <li class="menu-item">
      <a routerLink="/deshboard/Donate"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="التبرعات">التبرعات</div>
      </a>
    </li>
     <li class="menu-item">
      <a routerLink="/deshboard/Partner"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="شركاء الحوالات المالية">شركاء الحوالات المالية</div>
      </a>
    </li>
    <!-- <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-layout"></i>
        <div data-i18n="البريد الألكترونى">البريد الألكترونى</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item">
          <a routerLink="/deshboard/Senders"  class="menu-link">
            <div data-i18n="المرسلين">المرسلين</div>
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/deshboard/EmailContents"  class="menu-link">
            <i class="menu-icon icon-base bx bx-grid"></i>
            <div data-i18n="EmailContents">EmailContents</div>
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/deshboard/EmailSendingLogs"  class="menu-link">
            <i class="menu-icon icon-base bx bx-grid"></i>
            <div data-i18n="سجلات البريد الألكترونى">سجلات البريد الألكترونى</div>
          </a>
        </li>
      </ul>
    </li> -->
    <li class="menu-item">
      <a routerLink="/deshboard/Senders"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="المرسلين">المرسلين</div>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/deshboard/EmailContents"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="EmailContents">EmailContents</div>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/deshboard/EmailSendingLogs"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="سجلات البريد الألكترونى">سجلات البريد الألكترونى</div>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/deshboard/Badges"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="قائمة الأوسمة">قائمة الأوسمة</div>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/deshboard/UserBadges"  class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div data-i18n="طلبات الأوسمة">طلبات الأوسمة</div>
      </a>
    </li>
    
    <!-- <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-layout"></i>
        <div data-i18n="الأوسمة">الأوسمة</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item">
          <a routerLink="/deshboard/Badges"  class="menu-link">
            <i class="menu-icon icon-base bx bx-grid"></i>
            <div data-i18n="قائمة الأوسمة">قائمة الأوسمة</div>
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/deshboard/UserBadges"  class="menu-link">
            <i class="menu-icon icon-base bx bx-grid"></i>
            <div data-i18n="طلبات الأوسمة">طلبات الأوسمة</div>
          </a>
        </li>
      
      </ul>
    </li> -->
    
     
  </ul>
</aside>