
<div class="container-xxl flex-grow-1 container-p-y justify-content-start">

    <div class="card">  

      <div class="row px-2 justify-content-between" >
        <div class="col-12 col-md-5 col-lg-5 d-flex">
          <a class="btn btn-primary m-3 text-white" routerLink="/userPage/UserBadges/Add" style="width: 200px;">اضافة</a>

        </div>
        
      </div>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>المستخدم</th>
              <th>الوسام</th>
              <th>تاريخ الطلب</th>
              <th>تاريخ المنح</th>
              <th>الحالة</th>
              <th>العمليات</th>
            </tr>
          </thead>
          <tbody>
             <tr *ngFor="let UserBadge of UserBadges;let i= index">
              <td>
                <i class="icon-base fab fa-angular icon-md text-danger me-4"></i> <span>{{i+1}}</span>
              </td>
              
              <td>{{UserBadge.userName}}</td>
              <td>{{UserBadge.badgeName}}</td>
              <td>{{UserBadge.dateofRequest}}</td>
              <td>{{UserBadge.dateofGrant}}</td>
              <td *ngIf="UserBadge.isGranted==true">ممنوح </td>
              <td *ngIf="UserBadge.disabled==true">معطل </td>
              <td *ngIf="UserBadge.isRejected==true">مرفوض</td>
              <td *ngIf="UserBadge.isRejected!=true && UserBadge.isGranted!=true ">لم يحدد</td>

              <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="icon-base bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/userPage/UserBadges/Edit',UserBadge.id]"
                      ><i class="icon-base bx bx-edit-alt me-1 text-warning"></i> تعديل</a
                    >
                    <a class="dropdown-item" (click)="Delete(UserBadge.id)"
                      ><i class="icon-base bx bx-trash me-1 text-danger"></i> حذف</a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
  
  
  <div class="content-backdrop fade"></div>
  <!-- Content wrapper -->