<div class="container-xxl flex-grow-1 container-p-y justify-content-start">

    <div class="card">  

      <div class="row px-2 justify-content-between" >
        <div class="col-12 col-md-5 col-lg-5 d-flex">
          <a class="btn btn-primary m-3 text-white" routerLink="/userPage/CertificateTemplates/ArAdd" style="width: 200px;">اضافة قالب بالعربية </a>
          <a class="btn btn-primary m-3 text-white" routerLink="/userPage/CertificateTemplates/EnAdd" style="width: 200px;">اضافة قالب بالأنجليزية </a>


        </div>
        <div class="col-12 col-md-5 col-lg-5 my-2 px-2">
          <input type="text" (input)="OnSerach($event)" class="form-control" placeholder="البحث بعنوان الشهادة "/>

        </div>

      </div>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <!-- <caption class="ms-6">
            قائمة   والصلاحيات
          </caption> -->
          <thead>
            <tr>
              <th>#</th>
              <th>عنوان الشهادة	</th>
              <th>تاريخ الاضافة	</th>
              <th>اللغة	</th>
              <th>العمليات</th>
            </tr>
          </thead>
          <tbody>
             <tr *ngFor="let CertificateTemplate of CertificateTemplates;let i= index">
              <td>
                <i class="icon-base fab fa-angular icon-md text-danger me-4"></i> <span>{{i+1}}</span>
              </td>
              
              <td>{{CertificateTemplate.mainTitle}}</td>
              <td>{{CertificateTemplate.writtenDate}}</td>
              <td *ngIf="CertificateTemplate.language == 0">اللغة العربية</td>
              <td *ngIf="CertificateTemplate.language == 1">اللغة الأنجليزية</td>

              
              <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="icon-base bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/userPage/CertificateTemplates/Edit',CertificateTemplate.id]"
                      ><i class="icon-base bx bx-edit-alt me-1 text-warning"></i> تعديل</a
                    >
                    <a class="dropdown-item" (click)="OpenAddDialog(CertificateTemplate.id,CertificateTemplate.language)"
                      ><i class="icon-base bx bx-edit-alt me-1 text-warning"></i> اصدار شهادة</a
                    >
                    <a class="dropdown-item" [routerLink]="['/userPage/Certificates',CertificateTemplate.id]"
                      ><i class="icon-base bx bx-edit-alt me-1 text-warning"></i> الشهادات</a
                    >
                    <a class="dropdown-item" (click)="Delete(CertificateTemplate.id)"
                      ><i class="icon-base bx bx-trash me-1 text-danger"></i> حذف</a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
  
  
  <div class="content-backdrop fade"></div>
  <!-- Content wrapper -->