 
<div class="container-xxl flex-grow-1 container-p-y justify-content-start p-0" >

    <div class="card shadow-none">
      <!-- <h5 class="card-header">Table </h5> -->
      <a class="btn btn-primary m-3 text-white" routerLink="/clientPage/Pages/CreditSystem/Add" 
      style="width: 200px;" >اضافة  طلب تسليف</a>
  
  
      <div class="table-responsive text-nowrap">
        <table class="table">
          <!-- <caption class="ms-6">
            قائمة   والصلاحيات
          </caption> -->
          <thead>
            <tr>
              <th>#</th>
              <th>تاريخ الطلب</th>
              <th>المبلغ</th>
              <th>الحالة</th>
              <th>التفاصيل</th>
              <th>العمليات</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let CreditSystem of CreditSystems;let i = index">
              <td>
             <span>{{i+1}}</span>
              </td>
              <td>{{CreditSystem.issueDate}}</td>
              <td>{{CreditSystem.amount}}</td>
              <td *ngIf="CreditSystem.isApproved">تم الموافقة</td>
              <td *ngIf="!CreditSystem.isApproved">لم يتم الموافقة</td>
              <td class="text-wrap">{{CreditSystem.commentToAdmin}}</td>
           
                <td>
                <div class="dropdown" *ngIf="!CreditSystem.isApproved">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="icon-base bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    
                    <a  class="dropdown-item" (click)="Delete(CreditSystem.id)"
                      ><i class="icon-base bx bx-trash me-1 text-danger"></i> حذف</a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
  
  
  <div class="content-backdrop fade"></div>
  <!-- Content wrapper -->
  
  