<div class="container-xxl">
   <div class="row justify-content-center">
    <div class="col-12 col-lg-5 col-md-5">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Forgot Password -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <img src="https://arid.my/images/logo.png" class="img-fluid">
                
              </div>
              <!-- {{ResetForm.value|json}} -->
              <!-- /Logo -->
              <h4 class="mb-2">اعادة تعيين كلمة المرور</h4>
              <p class="mb-4">قم بادخال كلمة مرور جديدة</p>
              <form id="formAuthentication" [formGroup]="ResetForm" class="mb-3"   method="POST">
                <div class="mb-3 text-start">
                  <label for="email" class="form-label">كلمة المرور الجديدة</label>
                  <input
                    type="password"
                    class="form-control "
                    id="email"
                    formControlName="newPassword"
                    name="email"
                    placeholder="Enter your email"
                    autofocus
                  />
                  <div *ngIf="ResetForm.controls['newPassword'].invalid && ResetForm.controls['newPassword'].touched">
                    <small *ngIf="ResetForm.controls['newPassword'].errors?.['required']" class="text-danger">ادخل كلمة المرور</small>
                    <small *ngIf="ResetForm.controls['newPassword'].errors?.['min']" class="text-danger">كلمة المرور يجب ان لا تقل عن 6 احرف </small>
                </div>
                </div>
                <div class="mb-3 text-start">
                  <label for="email" class="form-label">تأكيد كلمة المرور</label>
                  <input
                    type="password"
                    class="form-control "
                    formControlName="confirmPassword"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                    autofocus
                  />
                  <div *ngIf="ResetForm.controls['confirmPassword'].invalid && ResetForm.controls['confirmPassword'].touched">
                    <small *ngIf="ResetForm.controls['confirmPassword'].errors?.['required']" class="text-danger">ادخل كلمة المرور</small>
                    <small *ngIf="ResetForm.controls['confirmPassword'].errors?.['NotMatched']" class="text-danger">كلمات المرور غير متطابقة</small>
                </div>
                </div>
                <button class="btn btn-primary d-grid w-100" type="submit" (click)="Submit()">حفظ</button>
              </form>
              <div class="text-center">
                <a routerLink="/Login" class="d-flex align-items-center justify-content-center">
                  <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                  تسجيل دخول
                </a>
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>
   </div>
  </div>